<!--<div class=" container">-->
<!--  <div class="forms-container">-->
<!--    <div class="signin-signup">-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="panels-container mt-5">-->
<!--    <div class="panel left-panel">-->
<!--      <div class="content">-->
<!--        <h3>Bạn cần giúp đỡ ?</h3>-->
<!--        <p>-->
<!--          Hãy liên hệ ngay với chúng tôi để được tư vấn miễn phí, bằng cách đăng nhập vào hệ thống-->
<!--          hoặc nhấn nút đăng ký bên dưới !-->
<!--        </p>-->
<!--        <button class="btn transparent" id="sign-up-btn">-->
<!--          Đăng ký-->
<!--        </button>-->
<!--      </div>-->
<!--      <img src="assets/img/login.svg" class="image" alt=""/>-->
<!--    </div>-->
<!--    <div class="panel right-panel">-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="container-fluid">
  <div class="row">
    <div class="panel col-sm-12 col-md-6 col-lg-6">
      <div class="row">
        <h3>Bạn cần giúp đỡ ?</h3>
        <p class="">
          Hãy liên hệ ngay với chúng tôi để được tư vấn miễn phí!
          <input type="button" class="btn transparent" id="sign-up-btn" value="Đăng ký">
        </p>
      </div>
      <img src="assets/img/login.svg" class="image" alt=""/>
    </div>

    <div class="form-container col-sm-12 col-md-6 col-lg-6">
      <form class="mt-5 pt-5" [formGroup]="formLogin" (ngSubmit)="onSubmit()">
        <h2 class="title">Đăng nhập</h2>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input type="text" placeholder="Tài khoản" formControlName="username"/>
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input type="password" placeholder="Mật khẩu" formControlName="password"/>
        </div>
        <div>
          <input class="form-check-input align-middle me-2" type="checkbox" id="disabledFieldsetCheck"
                 formControlName="remember_me">
          <label class="form-check-label align-middle" for="disabledFieldsetCheck">
            Nhớ tài khoản
          </label>
        </div>
        <input type="submit" value="Đăng nhập" class="btn btn-customize"/>
        <p class="social-text">Hoặc đăng nhập với các nền tảng mạng xã hội</p>
        <div class="social-media">
          <a href="#" class="social-icon">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-google"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
