<!-- Footer Start -->
<div class="container-fluid bg-dark text-secondary mt-5 pt-5">
  <div class="row px-xl-5 pt-5">
    <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
      <h5 class="text-secondary text-uppercase mb-4">Lời nói</h5>
      <p class="mb-4 text-secondary" >Tất cả sản phẩm tại A07Medical đều được nhập từ chính hãng, được
        kiểm soát chất lượng theo quy trình chặt chẽ và bán đúng với giá niêm yết.</p>
      <p class="mb-2 text-secondary " ><i class="fa fa-map-marker-alt text-primary mr-3"></i>280 Trần Hưng Đạo, Sơn Trà, Đà
        Nẵng
      </p>
      <p class="mb-2 text-secondary"><i class="fa fa-envelope text-primary mr-3"></i>a0722i1@gmail.com</p>
      <p class="mb-0 text-secondary"><i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890</p>
    </div>

    <div class="col-lg-8 col-md-12">
      <div class="row">
        <div class="col-md-4 mb-5">
          <h5 class="text-secondary text-uppercase mb-4">Về chúng tôi</h5>
          <div class="d-flex flex-column justify-content-start">
            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i> Giới
              thiệu</a>
            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i> Hệ thống cửa
              hàng</a>
            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i> Giấy phép
              kinh
              doanh</a>
            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i> Trở thành nhà
              cung cấp</a>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <h5 class="text-secondary text-uppercase mb-4">Chính sách</h5>
          <div class="d-flex flex-column justify-content-start">
            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i> Chính sách
              đổi
              trả</a>
            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i> Chính sách
              giao
              hàng</a>
            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i> Chính sách
              bảo
              mật</a>
            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i> Chính sách
              thanh
              toán</a>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <h5 class="text-secondary text-uppercase mb-4">Follow Us</h5>
          <!--                    <h6 class="text-secondary text-uppercase mt-4 mb-3">-->
          <div class="d-flex">
            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
            <a class="btn btn-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
    <div class="col-md-6 px-xl-0">
      <p class="mb-md-0 text-center text-md-left text-secondary">
        &copy; <a class="text-primary" href="#">A0722I1</a>. Tất cả các quyền được bảo lưu
        <a class="text-primary" href="https://htmlcodex.com">A07Medical</a>
        <br>Phân phối: <a href="https://themewagon.com" target="_blank">Codegym</a>
      </p>
    </div>
    <div class="col-md-6 px-xl-0 text-center text-md-right">
      <img class="img-fluid" src="assets/img/payments.png" alt="">
    </div>
  </div>
</div>
<!-- Footer End -->
