<!--<div *ngIf="isLoginForm" class="form-container">-->
  <!-- Login Form -->
  <form *ngIf="isLoginForm" class="login-form" [formGroup]="formLogin" (ngSubmit)="onSubmit()">
    <h2 class="title">Sign in</h2>
    <div class="input-field">
      <i class="fas fa-user"></i>
      <input type="text" placeholder="Username" formControlName="username"/>
    </div>
    <div class="input-field">
      <i class="fas fa-lock"></i>
      <input type="password" placeholder="Password" formControlName="password"/>
    </div>
    <input type="submit" value="Login" class="btn solid"/>
    <p class="social-text">Or Sign in with social platforms</p>
    <div class="social-media">
      <a href="#" class="social-icon">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="#" class="social-icon">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#" class="social-icon">
        <i class="fab fa-google"></i>
      </a>
      <a href="#" class="social-icon">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>
    <button (click)="toggleForm()">Switch to Register</button>
  </form>

  <!-- Register Form -->
  <form *ngIf="!isLoginForm" class="register-form" [formGroup]="formRegister" (ngSubmit)="onSubmit()">
    <!-- Register form fields -->
    <h2 class="title">Sign in</h2>
    <div class="input-field">
      <i class="fas fa-user"></i>
      <input type="text" placeholder="Username" formControlName="username"/>
    </div>
    <div class="input-field">
      <i class="fas fa-lock"></i>
      <input type="password" placeholder="Password" formControlName="password"/>
    </div>
    <input type="submit" value="Login" class="btn solid"/>
    <p class="social-text">Or Sign in with social platforms</p>
    <div class="social-media">
      <a href="#" class="social-icon">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="#" class="social-icon">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#" class="social-icon">
        <i class="fab fa-google"></i>
      </a>
      <a href="#" class="social-icon">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>
    <button (click)="toggleForm()">Switch to Register</button>
    <!-- ... -->
  </form>
<!--</div>-->

