<header class="p-1 van text-white">
  <div class="container">
    <ul class="nav col-12 col-lg-auto me-lg-auto justify-content-end">
      <li class="me-4">
        <p class="mb-2"><i class="fa fa-envelope text-primary mr-2"></i><b>Tư vấn ngay: a0722i1@gmail.com</b>
        </p>
      </li>
      <li>
        <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-2"></i><b>Hot line: +012 345 67890</b></p>
      </li>
    </ul>
  </div>
</header>
<!-- End Main Top -->

<!-- ***** Main Header Area Start***** -->
<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/img/logoplusss.png" alt="" style="width: 200px; height: 100%">
    </a>
    <button class="navbar-toggler text-light" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
      </span>
    </button>
    <div class="collapse navbar-collapse ms-2" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active " aria-current="page" href="#">Trang chủ</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
            Danh mục
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Quản lý kho</a></li>
            <li><a class="dropdown-item" href="#">Quản lý lương</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Khác...</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Thống kê</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Trợ giúp</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <div class="search-bar">
          <input type="text" class="search-input" placeholder="Tìm kiếm sản phẩm">
          <button class="search-button" type="submit">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </div>
      </form>
      <div class="d-flex">
        <a class="ms-3 me-3">
          <i class="fa fa-shopping-cart fa-2x" style="color: #f0f0f0"></i>
        </a>
        <a type="button" class="btn btn-outline-light mb-3 mb-lg-0 me-2" routerLink="/login">Đăng nhập</a>
        <a type="button" class="btn btn-outline-warning mb-3 mb-lg-0">Đăng ký</a>
      </div>
    </div>
  </div>
</nav>
<!-- ***** Main Header Area End***** -->
