
p {
  font-size: 14px;
  line-height: 25px;
  color: #2a2a2a;
}

/*
---------------------------------------------
global main header
---------------------------------------------
*/
.van {
  background-color: #00b894;
}

.text-primary {
  color: #FFD333 !important;
}
.mr-2 {
  margin-right: 0.5rem !important;
}
/*
---------------------------------------------
global SEARCH
---------------------------------------------
*/
.search-bar {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  /*padding: 8px;*/
  border-radius: 4px;
}

.search-input {
  flex-grow: 1;
  border: none;
  padding: 6px 12px;
  font-size: 16px;
}

.search-button {
  background-color: #55efc4;
  border: none;
  color: #fff;
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 8px;
}

.search-button:hover {
  background-color: #FFD333;
}

.fa-search {
  font-size: 18px;
}

/*
---------------------------------------------
global header
---------------------------------------------
*/
nav {
  position: absolute;
  background: #00b894;
  z-index: 100;
  width: 100%;
}

.navbar {
  background: #00b894;
}
.nav-link {
  color: #f0f0f0;
}
.navbar-nav .nav-link.active {
  color: #f0f0f0;
  font-size: 100%;
}

.nav-link.disabled{
  color: #f0f0f0;
  font-size: 100%;
}










